cymem==2.0.13
loguru==0.7.3
wheel==0.47.0
sentry-sdk==2.66.0
jsonschema==4.26.0
pydantic_core==2.46.4
misaki==0.9.4
pillow==12.3.0
certifi==2026.6.17
librosa==0.11.0
PyYAML==6.0.3
scipy==1.18.0
charset-normalizer==3.4.9
phonemizer-fork==3.3.2
decorator==5.3.1
six==1.17.0
cloudpathlib==0.24.0
httpx==0.28.1
confection==1.3.3
docopt==0.6.2
spacy==3.8.14
threadpoolctl==3.6.0
setuptools==80.10.2
narwhals==2.24.0
annotated-doc==0.0.4
idna==3.18
fsspec==2026.4.0
annotated-types==0.7.0
markdown-it-py==4.2.0
murmurhash==1.0.15
dlinfo==2.0.0
msgpack==1.2.1
blis==1.3.3
numba==0.60.0
shellingham==1.5.4
smart_open==8.0.1
numpy==2.0.2
termcolor==3.3.0
llvmlite==0.43.0
isodate==0.7.2
huggingface_hub==1.24.0
curated-tokenizers==0.0.9
scikit-learn==1.9.0
catalogue==2.0.10
segments==2.4.0
filelock==3.29.0
lazy-loader==0.5
thinc==8.3.13
hf-xet==1.5.2
sympy==1.14.0
weasel==1.0.0
spacy-loggers==1.0.5
num2words==0.5.14
regex==2026.7.19
requests==2.34.2
curated-transformers==0.1.1
pip==26.1.2
networkx==3.6.1
typing_extensions==4.15.0
mdurl==0.1.2
uritemplate==4.2.0
cffi==2.1.0
Resemblyzer==0.1.4
safetensors==0.8.0
joblib==1.5.3
typing-inspection==0.4.2
python-dateutil==2.9.0.post0
rich==15.0.0
fonttools==4.63.0
referencing==0.37.0
platformdirs==4.10.1
Jinja2==3.1.6
MarkupSafe==3.0.3
rfc3986==1.5.0
rpds-py==2026.6.3
srsly==2.5.3
protobuf==7.35.1
webrtcvad==2.0.10
espeakng-loader==0.2.4
soundfile==0.14.0
soxr==1.1.0
pooch==1.9.0
audioread==3.1.0
jsonschema-specifications==2025.9.1
click==8.4.2
csvw==4.1.0
torch==2.13.0+cpu
kiwisolver==1.5.0
attrs==26.1.0
spacy-curated-transformers==0.3.1
matplotlib==3.11.1
preshed==3.0.13
pydantic==2.13.4
pyparsing==3.3.2
tokenizers==0.22.2
pandas==3.0.3
urllib3==2.7.0
wandb==0.28.1
transformers==5.14.1
rdflib==7.6.0
babel==2.18.0
spacy-legacy==3.0.12
typer==0.27.0
Pygments==2.20.0
packaging==26.0
wrapt==2.2.2
language-tags==1.3.1
wasabi==1.1.3
contourpy==1.3.3
kokoro==0.9.4
mpmath==1.3.0
anyio==4.14.2
httpcore==1.0.9
cycler==0.12.1
addict==2.4.0
h11==0.16.0
pycparser==3.0
typing==3.7.4.3
en_core_web_sm==3.8.0
tqdm==4.69.0
